body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 18px 75px;
    align-items: center;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background-color: #1f2937;
    margin: 0px;
    padding: 125px 75px;
    display: flex;
    gap: 100px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-right{
    align-self: center;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0px;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 10px 35px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 8px;
    border: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 40px 75px;
}

.content-items {
    display: flex;
    text-align: center;
    gap: 20px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 40px 75px;
    align-items: flex-end;
}

em {
    font-size: 36px;
    color: #1f2937;
}

quote-name {
    justify-self: flex-end;
}